UPWORK_GRAPHQL_URL=https://www.upwork.com/api/graphql/v1
UPWORK_XSRF_TOKEN=
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1493951728301637743/XI0F6eTi4HPQs4SW4ibO-An32wK_sM_xm2gnSXqqniNhGHXmrgQojcN1WHR1p6iwaxOt
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=
DISCORD_MAX_POSTS=5
FETCH_INTERVAL_SECONDS=90
LOG_LEVEL=INFO
KEYWORDS=python,automation,selenium
EXCLUDE_KEYWORDS=wordpress
COOKIES_FILE=data/cookies.py
STATE_FILE=data/polling_state.json
SQLITE_DB_FILE=data/runtime.db
